    :root {
      --ratime: 0s;
	  --ritime: 0s;
	  --startdeg: 0;
	  --secdeg: 0deg;
	  --activecolor: #1fac9b;
	  --inactivecolor: #ff9f0a;
	  --circlecolor: var(--activecolor);
    }

    * {
      /*background: #000;*/
      font-family: Helvetica;
      color: #dadada;
    }
  
    .base {
      height: 2900px;
      width: 3300px;
	  background: #000;
	  transform: translate(-7px, -7px);
    }
    
    svg {
		transform: rotateX(180deg) rotateY(-180deg) rotateZ(90deg);
	}

    svg, circle {
		animation: none;
	}
	
	@keyframes ractive {
		0% {
			stroke-dasharray: var(--startdeg) 4775;
		}
		
		100% {
			stroke-dasharray: 4775 0;
		}
	}
	
	@keyframes rinactive {
		0% {
			stroke-dasharray: var(--startdeg) 4775;
		}
		
		100% {
			stroke-dasharray: 4775 0;
		}
	}
   
    #time {
      width: 200px;
      position: absolute;
      text-align: center;
      font-size: 46pt;
      transform: translate(685px, -1480px);
    }

    table {
      text-align: center;
      border-collapse: collapse;
      border: none;
      position: relative;
    }

    #ttop {
      width: 1039px;
      transform: translate(265px, -1315px);
      border-bottom: 5px solid #dadada;
    }

    #tbottom {
      width: 1039px;
      transform: translate(265px, -1315px);
      border-top: 5px solid #dadada;
      
    }

    th, td {
      padding: 0;
    }
    
    .time {
      font-size: 96pt;
    }

    #k2 {
      font-size: 60pt;
    }

    #k3 {
      font-size: 52pt;
    }

    .info {
      font-size: 64pt;
    }
	
	#h2 {
      font-size: 48pt;
    }

    #h3 {
      font-size: 40pt;
    }

    .sdiv {
      height: 5px;
      margin: 0;
      position: absolute;
      left: 25%;
      border-width: 0;
      width: 50%;
      background: #dadada;
    }

    .bdiv {
      height: 9px;
      border-width: 0;
      width: 75%;
      background: #dadada;
    }

    .vdiv {
      background: #dadada;
      margin: auto;
      width: 4px;
      height: 252px;
    }
	
	#upDiv {
		visibility: visible;
	}
	
	#sec {
	  transform-origin: center;
	  transform: rotate(0deg);
	}

    #plusdelay {
      position: absolute;
      width: 150px;
      height: 155px;
      transform: translate(475px, -1000px);
      font-size: 56pt;
      background: black;
    }*/
    
    #minusdelay {
      position: absolute;
      width: 150px;
      height: 150px;
      transform: translate(50%, -1000px);
      font-size: 56pt;
      background: black;
    }
	
	#tcontent {
	  width: 1500px;
	  transform: translate(1700px, -2500px);
	  font-size: 72pt;
	}
	
	#tcontent * :not(sup, b) {
	  border: 1px solid #dadada;
	  border-collapse: collapse;
	}

    #delayinput {
      width: 150px;
      height: 150px;
      font-size: 50pt;
      background: black;
      transform: translate(710px, -1000px);
    }
