    :root {
      --rtime: 0s;
    }

    * {
      background: #000;
      font-family: Helvetica;
      color: #dadada;
      /*font-size: 48pt;*/
    }
  
    .base {
      height: 396px;
      width: 396px;
      background: black;
    }
    
    svg {
		transform: rotateX(180deg) rotateY(-180deg) rotateZ(90deg);
	}

    svg, circle {
		animation: rotate var(--rtime) linear;
	}
	
	@keyframes rotate {
		0% {
			stroke-dasharray: 0 4775;
		}
		
		100% {
			stroke-dasharray: 4775 0;
		}
	}
    
    table {
      text-align: center;
      border-collapse: collapse;
      border: none;
      background: black;
      position: relative;
    }

    .ttop {
      width: 1039px;
      transform: translate(265px, -1385px);
      border-bottom: 5px solid #dadada;
    }

    .tbottom {
      width: 1039px;
      transform: translate(265px, -1385px);
      border-top: 5px solid #dadada;
      
    }

    th, td {
      padding: 0;
    }
    
    .time {
      font-size: 96pt;
    }

    .stime {
      font-size: 52pt;
    }

    #k2 {
      font-size: 60pt;
    }

    .info {
      font-size: 64pt;
    }

    .sinfo {
      font-size: 40pt;
    }

    #h2 {
      font-size: 48pt;
    }

    .sdiv {
      height: 5px;
      margin: 0;
      position: absolute;
      left: 25%;
      border-width: 0;
      width: 50%;
      background: #dadada;
    }

    .bdiv {
      height: 9px;
      border-width: 0;
      width: 75%;
      background: #dadada;
    }

    .vdiv {
      background: #dadada;
      margin: auto;
      width: 4px;
      height: 252px;
    }
