    :root {
      --ratime: 0s;
	  --ritime: 0s;
	  --startdeg: 0;
	  --enddeg: 4335;
	  --secdeg: 0deg;
	  --activecolor: #1fac9b;
	  --inactivecolor: #ff9f0a;
	  --circlecolor: var(--activecolor);
    }

    * {
      /*background: #000;*/
      font-family: Helvetica;
      color: #dadada;
    }
  
    .base {
      height: 2500px;
      width: 3300px;
	  background: #000;
	  transform: translate(-6px, -6px);
    }
    
    svg {
		transform: rotateX(180deg) rotateY(-180deg) rotateZ(90deg);
	}

    svg, circle {
		animation: none;
	}
	
	@keyframes ractive {
		0% {
			stroke-dasharray: var(--startdeg) var(--enddeg);
		}
		
		100% {
			stroke-dasharray: var(--enddeg) 0;
		}
	}
	
	@keyframes rinactive {
		0% {
			stroke-dasharray: var(--startdeg) var(--enddeg);
		}
		
		100% {
			stroke-dasharray: var(--enddeg) 0;
		}
	}
    
    #time {
      width: 200px;
      position: absolute;
      text-align: center;
      font-size: 46pt;
      transform: translate(615px, -1320px);
    }

    table {
      text-align: center;
      border-collapse: collapse;
      border: none;
      position: relative;
    }

    #ttop {
      width: 940px;
      transform: translate(245px, -1190px);
      border-bottom: 5px solid #dadada;
    }

    #tbottom {
      width: 940px;
      transform: translate(245px, -1190px);
      border-top: 5px solid #dadada;
      
    }

    th, td {
      padding: 0;
    }
    
    .time {
      font-size: 96pt;
    }

    #k2 {
      font-size: 60pt;
    }

    #k3 {
      font-size: 52pt;
    }

    .info {
      font-size: 64pt;
    }
	
	#h2 {
      font-size: 48pt;
    }

    #h3 {
      font-size: 40pt;
    }

    .sdiv {
      height: 5px;
      margin: 0;
      position: absolute;
      left: 25%;
      border-width: 0;
      width: 50%;
      background: #dadada;
    }

    .bdiv {
      height: 9px;
      border-width: 0;
      width: 75%;
      background: #dadada;
    }

    .vdiv {
      background: #dadada;
      margin: auto;
      width: 4px;
      height: 230px;
    }
	
	#sec {
	  transform-origin: center;
	  transform: rotate(0deg);
      position: relative;
      color: red;
	}

    button {
      position: absolute;
      width: 300px;
      height: 260px;
      transform: translate(50%, -1000px);
      font-size: 56pt;
      background: black;
    }

	#tcontent {
	  width: 1500px;
	  transform: translate(1700px, -2100px);
	  font-size: 72pt;
	}
	
	#tcontent * :not(sup, b) {
	  border: 1px solid #dadada;
	  border-collapse: collapse;
	}
